# URL API Backend produksi (Ganti dengan URL backend yang sudah di-deploy)
VITE_API_BASE_URL=https://api-pos.mentaimental.com/api/v1

# Client Key Midtrans (Ganti dengan Key Sandbox/Production dari dashboard Midtrans Anda)
VITE_MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxxxxxxxxxxxxxxxxxx
